<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
        </handlers>
    </system.webServer>
	
    <system.webServer>
        <rewrite>
            <rules>
				<!--NOVO-->
				
				<rule name="index2" stopProcessing="true">
                    <match url="^index/?([a-zA-Z0-9_-]+)?(.php)?$" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
				
				<rule name="blogDetalhe2" stopProcessing="true">
                    <match url="^blog/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/blog.php?url={R:1}" />
                </rule>		
				
				<rule name="ebook2" stopProcessing="true">
                    <match url="^enviar-ebook/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/enviar-ebook.php?cod={R:1}" />
                </rule>
				
				<rule name="blogTag2" stopProcessing="true">
                    <match url="^blog/tag/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/blog.php?tag={R:1}" />
                </rule>
				
				<rule name="blogTagPg2" stopProcessing="true">
                    <match url="^blog/tag/([a-zA-Z0-9_-]+)/pg/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/blog.php?tag={R:1}&amp;pg={R:2}" />
                </rule>

                <rule name="blog2" stopProcessing="true">
                    <match url="^blog/?([a-zA-Z0-9_-]+)?(.php)?$" />
                    <action type="Rewrite" url="/blog.php" />
                </rule>
				
				<rule name="receitaDetalhe2" stopProcessing="true">
                    <match url="^receita/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/receita.php?url={R:1}" />
                </rule>
				
				<rule name="produtos2" stopProcessing="true">
                    <match url="^produtos/linha/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/produtos.php?linha={R:1}" />
                </rule>
				
				<rule name="produtosPg2" stopProcessing="true">
                    <match url="^produtos/linha/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)?(.php)?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/produtos.php?linha={R:1}&amp;pg={R:2}" />
                </rule>
				
				<rule name="politica2" stopProcessing="true">
                    <match url="^politica-de-privacidade/?([a-zA-Z0-9_-]+)?(.php)?$" />
                    <action type="Rewrite" url="/politica-de-privacidade.php" />
                </rule>
				
            </rules>
        </rewrite>
    </system.webServer>
	
	<system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="404.php">
			<error statusCode="404" redirect="404.php" />
		</customErrors>
    </system.web>
</configuration>
